{% extends 'base.html' %}
{% block corpo %}
Estou no cadastro

<table>
    <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Turma</th>
    </tr>
    <tr>
        <td>12345</td>
        <td>João da Silva</td>
        <td>Turma A</td>
    </tr>
    <tr>
        <td>67890</td>
        <td>Maria Souza</td>
        <td>Turma B</td>
    </tr>
    <tr>
        <td>4002-8922</td>
        <td>Agnaldo Bolsonaro</td>
        <td>Turma 22</td>
    </tr>
    <tr>
        <td>456567</td>
        <td>Ciro Gomes</td>
        <td>Turma A</td>
    </tr>
    <!-- Adicione mais linhas conforme necessário -->
</table>
{% endblock %}